/* centers all text in the body */
body {
    text-align: center;
}

/* sets the navigation class's width 10 100% so if the page moves it is dynamic, sets the hieght as 30px,
aligns the text to the right, sets the font style as Mclaren a google api font, sets the font size and adds
padding to the top and bottom to give some white space */
.navigation {
    width: 100%;
    height: 30px;
    text-align: right;
    font-family: 'McLaren',cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* sets the unorder list margin to 0 auto, sets the padding to 0 and sets the list style to none */
.navigation ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
/* sets the list object and the list and the navigation class to display inline block, adds padding left
and right to add some white space and sets the font weight to bold. the border right creats a 4px solid
border each right side of the li objects this creates a divide between each page link */
.navigation ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    border-right: 1px solid #aaa ;
  }

/* removes the border from the right side of the last list item  */
 .navigation li:last-child {
     border-right: none;
 } 
  
/* sets the background colour when the li items are hovered over */
.navigation ul li:hover {
    background-color: rgba(254, 214, 227, 0.4);
  }
  
/* sets the links within the list to the colour black and sets the text decoration to none to stop 
the automatic styling of the tag */
.navigation ul li a {
    color: #111;
    text-decoration: none;
  }

/* when the navigation links are hovered over a solid black border will be applied
at the bottom  */
.navigation a:hover {
    border-bottom: 4px solid black;
}

/* when the navigation links are clicked (active) a solid black border will be applied
at the bottom  */
.navigation a:active {
    border-bottom: 4px solid black;
}

/*  Partly Author- Liz Coulter-Smith Date- 14/11/19 Northampton University https://nile.northampton.ac.uk/
sets the cotainers dimensions, alligns the content to the center, adds a linear gradient 
to the background which is semi transparent allowing the video to be seen behind it, 
adds a margin to the bottom, positions to relative and hids any overflow, makes the minimum 
height it can be 75vh to make sure it doesnt lose layout if on a different screen*/
.container {
    width:100%;
    height: 550px;
    justify-content: center;
    align-items: center;
    background: #333;
    background: rgba(0, 0, 0, 0.25);

    background-image: linear-gradient(
        360deg,
        rgba(168, 237, 234, 0.75),
        rgba(254, 214, 227, 0.75)
        );
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 75vh;
}

/*  Author- Liz Coulter-Smith Date- 14/11/19 Northampton University https://nile.northampton.ac.uk/*/
.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* styles the h1 tag within container, sets the font to be McLaren and adds
padding to create spacing between the container and profile picture elements */
.container h1 {
    font-family: 'McLaren', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* styles the profile picture of hannah by adding a 30% border radius
with a groove style, a border width of 4px, which matches the style for hovering and 
activation the navigation bar, and setting it to black.*/
.profile_picture{
    border-radius: 30%;
    border-style: groove;
    border-width: 4px;
    border-color: black;
}

/* when the profile picture is hovered over it sets the opacity to 0.4 so it is 
partly see through */
.hoverImage :hover {
    opacity: 0.4;
    
}

/* styles the h3 tag within the container class by setting the font, font weight
and adding padding to the  top to create equal spacing between the profile picture*/
.container h3 {
    font-family: 'McLaren', cursive;
    padding-top: 1em;
    font-weight: bolder;
}


/* styles the icon class by adding padding to the right and left, takes off the underline 
put on by the link by setting the text decoration to none, and sets the border to none */
.icon {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    border: none;
}

/* portfolio css */
/* Author- Liz Coulter-Smith Date- 14/11/19 Northampton University https://nile.northampton.ac.uk/--> */
:root {
    font-size: 75.5%;
    font-family: 'mcLaren', sans-serif;
}

/* styles the h1 element of the container2 class in the portfolio, sets the font size to 30px, the font
to bold and aligns it in the center. the font family is mcLaren the google font and the colour black. 
padding is added at the top to add spacing between the cotainer colour and the text. */
.container2 h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: 'mcLaren', sans-serif;
    color: black;
    padding-top: 20px;

}

/* styles the hr element to add a margin to the top and bottom and sets the border to 0 */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
}

/* styles the container2 class to have the width of the full browser, the height to auto to fit the contents
with 20pxpadding on the bottom to add spacing. the background image is set to a linear gradient */
.container2 {
    width: 100%; 
    height: auto 0;
    padding-bottom: 20px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* styles the gallery item class to set the width to 100% of the page. adds a border radius of 5px to round the 
corners and transitions it at .3s, the overflow is hidden and position is relative    */
.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

/* sets the gallery class to display in grid form, forms the grid columns to auto fit into the set width, 
in the size stated below. adding a grid gap between each column and sets the row to 100px. padding is added 
for spacing */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 20px;
    padding-right: 20px;
}

/* styles the image class given to hold the images, the opacity is 1 and the display set to block to fill
the whole width of the class. the width and height are both set along with the transition to ease in in .5
seconds. the backface is hidden and the object will cover the class. */
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

/* the middle class holds the text, the transition is set to 0.5 and the position to aboslute, the top
and left set how far the class is offset from the containing class. the the transform moves if - 50 % down and 
across and the text is alligned in the center */
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    text-align: center;
}

/* when the imgage in gallery item class is hovered over the image is grayscaled */
.gallery-item:hover .image {
    filter: grayscale(1);
}

/* when the miidle class in the gallery item class is hovered over it sets the opacity to 1 to make it
seem like the text is appearing */
.gallery-item:hover .middle {
    opacity: 1;
}

/* when the gallery item is hovered over a shadow is added to the edges with a 0.8 alpha value */
.gallery-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

/* styles the text class which holds the project name, sets the colour to white and the font size
and font weight. adds padding  to help position and sets the font family as mcLaren */
.text {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 15px 10px;
    font-family: 'mcLaren', sans-serif;
}
